.footer {
    color : #ffffff;
    background-color: #373a3c;
    border-color: #373a3c;
    text-align: center;
    width: 100%;
}

.form, .avatar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/*.form{*/
    /*height: 500px;*/
/*}*/

input[type="file"] {
    position: relative;
    text-align: right;
    /*-moz-opacity:0 ;*/
    /*filter:alpha(opacity: 0);*/
    /*opacity: 0;*/
    /*z-index: 2;*/
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}